.about {
    background-color: transparent;
    font-size: 1.2em;
    text-align: justify;
    font-family:"Karla", sans-serif;;
  }
  .profile {
    max-width: 100%;
  }

.about h1 {
  font-size: 4em;
}

